@model AquaPlayground.ViewModels.ForgotPasswordViewModel

<center>
    <h2>Forgot password</h2>

    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span><b>Sorry!</b> - @TempData["Error"] </span>
        </div>
    }

    @if (Model?.IsEmailSent == true)
    {
        <div class="alert alert-success" role="alert">
            <p>
                We have sent an email on your registered email
            </p>
        </div>
    }
    else
    {
        <form method="post" asp-controller="Account" asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="col-md-12 alert alert-danger"></div>
            <div>
                <label asp-for="Email"></label><br />
                <input asp-for="Email" /><br>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Send message" />
            </div>
        </form>
    }
</center>