@model AquaPlayground.ViewModels.ResetPasswordViewModel

<center>
    <h2>Change password</h2>

    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span><b>Sorry!</b> - @TempData["Error"] </span>
        </div>
    }

    @if (Model?.IsCompleted == true)
    {
        <div class="alert alert-success" role="alert">
            <p>
                You have successfully changed your password! Now you can login with it!
            </p>
        </div>
    }
    else
    {
        <form method="post" asp-controller="Account" asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="col-md-12 alert alert-danger"></div>
            <input type="hidden" asp-for="UserId" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />
            <div>
                <label asp-for="NewPassword">New password</label><br />
                <input asp-for="NewPassword" /><br>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="ConfirmNewPassword">Confirm new password</label><br />
                <input asp-for="ConfirmNewPassword" /><br>
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Confirm" />
            </div><br>
        </form>
    }
</center>