<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forbidden Error</title>
</head>
<body>
    <center>
        <h1>403</h1>
        <h1>Forbidden Error</h1>
        <h2>You donot have the permission to access this page. Kindly contact with your admin.</h2>
        <h2><a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Back to main page</a></h2>
    </center>
</body>
</html>