<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Internal Server Error</title>
</head>
<body>
    <center>
        <h1>500</h1>
        <h1>Internal Server Error</h1>
        <h2>Some Internal Server error Occurred while processing your request. Kindly try after some time.</h2>
        <h2><a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Back to main page</a></h2>
    </center>
</body>
</html>