@using AquaPlayground.ViewModels;
@model ProductPostViewModel

@{
    ViewData["Title"] = "Create a new product";
}

<div class="row">
    <div class="col-md-8 offset-0">
        <p>
            <h4>Create a new product</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-0">
                <form enctype="multipart/form-data" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control"/>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" type="number" step="0.01" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Count" class="control-label"></label>
                                <input asp-for="Count" type="number" class="form-control" />
                                <span asp-validation-for="Count" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Calories" class="control-label"></label>
                                <input asp-for="Calories" type="number" class="form-control" />
                                <span asp-validation-for="Calories" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Protein" class="control-label"></label>
                                <input asp-for="Protein" type="number" class="form-control" />
                                <span asp-validation-for="Protein" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Fat" class="control-label"></label>
                                <input asp-for="Fat" type="number" class="form-control" />
                                <span asp-validation-for="Fat" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Carb" class="control-label"></label>
                                <input asp-for="Carb" type="number" class="form-control" />
                                <span asp-validation-for="Carb" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ManufacturerId" class="control-label">Manufacturer</label>
                        <select asp-for="ManufacturerId" class="form-control" asp-items="ViewBag.Manufacturers"></select>
                        <span asp-validation-for="ManufacturerId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductTypeId" class="control-label">Product type</label>
                        <select asp-for="ProductTypeId" class="form-control" asp-items="ViewBag.Types"></select>
                        <span asp-validation-for="ProductTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                            <label asp-for="TagsIds" class="control-label">Tags</label>
                            <select asp-for="TagsIds" class="form-control" asp-items="ViewBag.Tags" multiple></select>
                            <span asp-validation-for="TagsIds" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="Image" class="custom-file-input" id="FLFrontImage" />
                            <label class="custom-file-label" for="FLFrontImage"></label>
                        </div>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>